<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationFramework">
    <suite-files>
        <suite-file path="homePageSuite.xml"/>
        <suite-file path="framesSuite.xml"/>
        <suite-file path="contactSuite.xml"/>
        <suite-file path="registrationSuite.xml"/>
        
    </suite-files>
</suite>